<public-module data-bind="style : { width : width, height : height }"><!--HOME --><div id="home" class="background" data-bind="style : { background : home.background,
                              backgroundSize : scale 
                            }"><img id="logo" class="img-responsive" data-bind="attr : { src : home.logo }"><h1>Front Universe Schema</h1></div><!-- TEMPLATES --></public-module>